[source.crates-io]
replace-with = "vendored-sources"

[source."https://github.com/apache/teaclave-sgx-sdk.git"]
git = "https://github.com/apache/teaclave-sgx-sdk.git"
replace-with = "vendored-sources"

[source."https://github.com/universal-secure-computing-community/crates-sgx.git"]
git = "https://github.com/universal-secure-computing-community/crates-sgx.git"
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "./vendor"
